@charset "UTF-8";

html,
body {
    min-height: 100vh;
}

span.pontos {
    display: none;
}

.nav>li:nth-child(5):hover span.nome {
    display: none;
}

.nav>li:last-child:hover span.pontos {
    display: block;
}

.header-area {
    background-color: #111111 !important;
    border-radius: 0;
    height: 85px !important;
    position: fixed !important;
    top: 0 !important;
    padding: 10px 0;
}

main {
    margin: 85px 0;
    text-transform: uppercase;
}

p {
    color: white;
}

section#user-area {
    display: flex;
    align-items: center;
    background-color: #111111;
    padding: 40px 0 40px 30px;
    gap: 15px;

}

section#user-area i.bi {
    height: 70px;
    width: 70px;
}

section#user-area i.bi::before {
    font-size: 70px;
}

section#compras {
    background-color: #111111;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
}

section#compras>div.minhas-compras {
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    gap: 20px;

}
.col-lg-2 {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000057;
    margin: auto;
    flex: 0 0 auto;
    width: 219px;
    height: 421px;

}
.ft2 {
    width: 100%;
}
.thumb .img{
    border-radius: 10px 10px 0 0;
}

.down-content{
    text-align: initial;
    padding: 10px;
}

section#compras>hr {
    width: 100%;
    margin: 10px 0 30px;
}

section#compras i.bi {
    height: 50px;
    width: 50px;
}

section#compras i.bi::before {
    font-size: 50px;
}

section#compras>div {
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

section#compras>div>i {
    font-size: 50px;
}

section#compras>div>h4 {
    font-size: 18px;
}

section#carteira {
    background-color: #111111;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 20px 0;
    padding: 10px;
}

section#carteira>div.minha-carteira {
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    gap: 20px;

}

section#carteira>hr {
    width: 100%;
    margin: 10px 0 30px;
}

section#carteira>div {
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

section#carteira>div>i {
    font-size: 50px;
}

section#carteira>div>h4 {
    font-size: 18px;
}

section>div.bloco {
    transition: .3s ease-in-out all;
}

section>div.bloco h4 {
    transition: .3s ease-in-out all;
}



.bloco h4:hover {
    color: #0071f8 !important;
}

footer {
    margin: 0 !important;
}

@media screen and (max-width: 470px) {

    section>div.bloco {
        width: 100% !important;
    }

    section>div.bloco i {
        font-size: 60px !important;
    }

    section>div.bloco h4 {
        font-size: 1em !important;
    }
    section#carteira,
    section#compras {
        justify-content: center;
        column-gap: 40px;
        row-gap: 20px;
    }
}
@media screen and (min-width:471px) and (max-width:992px) {
    section>div.bloco {
        width: 50% !important;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {
    section>div.bloco {
        width: 50% !important;
    }

    section>div.bloco i {
        font-size: 60px !important;
    }

    section>div.bloco h4 {
        font-size: 1em !important;
    }

    section>div.bloco span {
        display: block;
    }
    .col-lg-2 {
        background-color: #1e1e1e;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 1px 1px 5px #00000057;
        margin: auto;
        flex: 0 0 auto;
        width: 219px;
        height: 421px;

    }

    .bloco * {
        overflow: hidden;
    }

    .down-content {
        text-align: left;
        padding: 10px;
    }

    .down-content>.category {
        font-size: 16px;
    }
}

@media screen and (min-width:992px) {
    section>div.bloco {
        width: 300px !important;
    }

    section>div.bloco i {
        font-size: 70px !important;
    }

    section>div.bloco h4 {
        font-size: 0.9em !important;
    }

    .col-lg-2 {
        background-color: #1e1e1e;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 1px 1px 5px #00000057;
        margin: auto;
        flex: 0 0 auto;
        width: 82%;
        height: 421px;

    }

    .bloco * {
        overflow: hidden;
    }

    .down-content {
        text-align: left;
        padding: 10px;
    }

    .down-content>.category {
        font-size: 16px;
    }

}