@charset "UTF-8";

.imagem{
    margin: auto;
    width: 70%;
}
.single-product p{
    display: none;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.compra{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
input[type="number"]{
    width: 60%;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.addsub{
    background-color: #308fff;
    padding: 6px;
    border-radius: 20px;
    width: 10%;
    transition: .3s ease-in-out all;
}
.addsub:hover{
    background-color: #1345af;
}

.container1 > button{
    width: 85%;
    height: 30px;
    border-radius: 10px;
    background-color: #308fff;
    transition: .3s ease-in-out all;
}
.container1 > button:hover{
    background-color: #1345af;
    transform: scale(1.02);
}

@media screen and (max-width: 767px) {
    .container, .container-sm {
        max-width: none; 
    }
    
.header-area.header-sticky .nav {
    margin-top: 85px !important;
  }

  .background-header.header-sticky .nav {
    margin-top: 75px !important;
  }

}
@media screen and (min-width: 768px) and (max-width: 992px) {


    .addsub{
        width: 20%;
        height: 45px;
        font-size: 1.7em;
        padding: 0;
    }
    input[type="number"]{
        width: 38%;
        height: 45px;
        text-align: center;
        padding: 6px;
        font-size: 1.5em;
        border-radius: 20px;
    }
    .container1 > button{
        width: 80%;
        height: 45px;
        border-radius: 10px;
        background-color: #308fff;
        font-size: 1.5em;
    }
    
}
@media screen and (min-width: 992px){
    .container1, .compra{
        justify-content: left;
        align-items: flex-start;
    }
    input[type="number"]{
        width: 28%;
    }
    .container1 > button{
        width: 52%;
    }
}