
body, html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    margin-bottom: -15px;
}
  
/* pontos de interrupção típicos do dispositivo
----------------------------
tela pequena: até 600px
celular: 600px até 768px
tablet: 768px até 992px
área de trabalho: 992px até 1200px
grandes telas: acima de 1200px
*/  
  
.bi{
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    width: 44px;
    height: 44px;
}
.bi::before{
    font-size: 44px;
    color: white;
}

img.mais-vendidos{
    width: 206px !important;
    height: 321px;
}
.item > .thumb > a > img{
    background-color: black;
    width: 166px  !important;
    height: 241px;
}
.thumb .img{
    width: 100%;
    height: 157px;
    background: black center center url("../../img/isekai.jpg") no-repeat;
    background-size: cover;
    image-rendering: cover;
}

.row{
    margin: auto;
}


.item{
    margin: auto;
}

.most-played div.col-lg-2{
    width: 26% !important;
}
@media screen and (max-width:600px) {

    .row .row{
        flex-direction: column;
    }

    .ft{
        width: 270px !important;
        border-radius: 10px !important;
    }

    .ft2{
        width: 80vw;
    }
}
@media screen and (max-width: 768px) {

    
        /* Pagina principal */
    .main-banner{
        border-radius: 0 0 80px 80px;
    }

    .img{
        width: 100% !important;
    }

    .trending .item .thumb{
        display: flex;
        justify-content: start;
    }

    .trending .item .thumb{
        overflow: visible;
    }

    .section-heading h2{
        font-size: 40px;
        overflow-wrap: break-word;
    }

    .most-played{
        border-radius: 80px;
    }

    .most-played .item .down-content {
        border-radius: 20px;
    }

    footer{
        border-radius: 80px 80px 0px 0px !important;
    }


    @media screen and (min-width:600px) and (max-width:768px){
        .programas>*{
            width: 50%;
        }
        .most-played div.col-lg-2{
            width: 70% !important;
        }
        .item > .thumb > a > img{
            width: 206px;
        }
        .itens-recomendados{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }


    /* Loja */

   

    /* Sobre */

    .page-heading{
        border-radius: 0 0 80px 80px !important;
    }

    /* Contato */
    iframe{
        width: 80vw;
        
    }

    .contact-page .left-text ul li{
        word-wrap: break-word;
    }
    
}
@media screen and (min-width:769px) {
    .item > .thumb > a > img{
        width: 206px !important;
    }
    img.mais-vendidos{
        height: 321px !important;
    }
    .itens-recomendados{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}