:root{
    font-family: Arial, Helvetica, sans-serif;

    --cor01: #abc270;
    --cor02: #fec868;
    --cor03: #fda769;
    --cor04: #473c33;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

#btn{
    opacity: 0;
    position: absolute;
}

.aparecer{
    opacity: 1 !important;
}