@import url("normalize.css");
:root{
    --cor06: white;
    --cor07: black;
}

html,body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--cor06);
    color: var(--cor07);
    position: relative;
}

.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent; 
    border:1px solid white; 
    color: white; 
    cursor: pointer;
}