@charset "UTF-8";
  
:root{
  font-family: Arial, Helvetica, sans-serif;
  --cor01: #384001;
  --cor02: #618C03;
  --cor03: #97BF04;
  --cor04: #d9ca828f;
  --cor05: #f2bb05;
}


html,body{
  margin: 0;
  padding: 0;
  background-color: var(--cor04);
  box-sizing: border-box;
  overflow-x: hidden;
}


.flex{
  display: flex;
  justify-content: space-between;
}

header{
    background-color: var(--cor01);
}

nav > .flex{
  width: 100%;
  align-items: center;
}

div#navegacao{
    list-style: none;
}

i.bi-list{
  font-size: 45px;
}

.hamburguer{
  border: none;
  background: none;
  border-top: 3px solid #ffedd3;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.hamburguer::before, .hamburguer::after{
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #ffedd3;
  margin-top: 5px;
  position: relative;
  transition: .5s ease-in-out all;
}

div#hamburguer{
  display: none;
}

.active{
  display: block !important;
}

.hamburguer.active{
  position: fixed;
  top: 26px;
  right: 16px;
  border-top-color: transparent;
}

.hamburguer.active::before{
  transform: rotate(135deg);
}

.hamburguer.active::after{
  transform: rotate(-135deg);
  top: -7px;
}

.botao{
    background-color: transparent;
    border: none;
    color: #ffedd3;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-size: 17px;
}
  
.botao::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 5px;
    background-color: var(--cor05);
    transition: 0.5s ease-in-out;
}

.botao:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

.botao:hover::before {
    height: 100%;
}

.botao::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    background-color: var(--cor05);
    transition: 0.8s ease-in-out;
    z-index: -1;
}

.botao:hover::after {
    width: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.pesquisa{
  align-items: center;
  margin: 5px 0 15px;

}

input[type="search"]{
  width: 100%;
  position: relative;
  padding: 5px;
  background-color: #ffedd3;
  border: none;
}

input[type="search"] ~ i{
  position: absolute;
  right: 0;
}


.slide{
  position: relative;
  height: 250px;
}

.arrow-left, .arrow-right{
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
}

.arrow-right{
  right: 0;
  left: auto;
}

.item{
  overflow: auto;
  display: none;
  height: 100%;
  transition: ease-in-out .5s;
}

.current-item{
  display: block;
}

.carrossel{
  background-color: red;
  height: 100%;
  overflow: hidden;
}

.carrossel img{
  width: 100%;
  height: 100%;
}


main .caixa1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

main .caixa2{
  margin: 20px 0;
  background: no-repeat url(../img/auau-triste.jpg) bottom right;
  background-size: cover;
  background-attachment: fixed;
  gap: 15px;
  padding: 15px 5px;
  position: relative;
}

.mascara{
  background-color: #3840013d;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card{
  margin: 0 40px;
  color: white;
  z-index: 1;
  position: relative;
}

.card p{
  text-align: justify;
  text-indent: 1px;
}


footer{
  background-color: var(--cor01);
  color: #ffedab;
  margin-top: 20px;
  width: 100vw;
  position: absolute;
}

footer ul{
  width: 40%;
  height: 30%;
  padding: 10px;
  list-style: none;
}

footer span{
  font-size: 20px;
}

footer a{
  color: #ffedd3;
  text-decoration: none;
}


footer div.grid{
display: flex;
flex-wrap: wrap;
}

footer ul.flex{
  width: auto;
  justify-content: center;
  gap: 30px
}

footer ul.flex i{
  height: 40px;
}




  

/* medias queries */

@media (min-width: 780px) and (max-width: 1300px){
.hamburguer{
  display: none;
}
#hamburguer{
  display: flex !important;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .flex{
  width: auto !important;

}

div.pesquisa > i{
  position: absolute;
  padding: 2px 0 2px 5px;
}


i{
  font-size: 30px;
  color: #ffedd3;
}


div#navegacao{
  display: flex;
  gap: 10px;
  list-style: none;
}

a{
  text-decoration: none;
}

li{
  display: flex;
  align-items: center;
  height: 100%;
}

.pesquisa{
  align-items: center;
  justify-content: right;
  margin: 0px 15px 0px !important;

}


.pesquisa input{
  height: 28px;
  width: 12.5vw;
  border-radius: 10px;
  border: 1px solid var(--cor03);
  color: #ffedab;
  background-color: var(--cor04);
}

.pesquisa input:focus{
  border: none;
}

input[type="search"] ~ i{
  right: auto !important;
  margin-right: 5px;
}

input[type="search"]:focus ~ i{
  display: none;
}

.botao {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 0em .5em;
  color: #ffedd3;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  height: 60px;
}
  
.botao::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--cor05);
  transition: 0.5s ease;
}

.botao:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.botao:hover::before {
  width: 100%;
  height: 3px !important;
}

.botao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--cor05);
  transition: 0.4s ease;
  z-index: -1;
}

.botao:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.botao-cadastro{
  height: 2.8em !important;
  width: 2.8em !important;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid var(--cor02);
  outline: none;
  color: var(--cor02);
  cursor: pointer;
  font-size: 17px !important;
  margin-right: 15px;
}  

.slide{
  position: relative;
  height: 300px;
}

.caixa1 > .card{
  width: 600px;
}

.imagem > .card{
  width: 350px;
}
}

@media (min-width: 1301px) {

html{
  font-size: 18px;
}

.hamburguer{
  display: none;
}
#hamburguer{
  display: flex !important;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .flex{
  width: auto !important;

}

#logo, #logo img{
  height: 60px !important;
  margin-left: 5px;
}



div.pesquisa > i{
  position: absolute;
  padding: 2px 0 2px 5px;
}


i{
  font-size: 30px;
  color: #ffedd3;
}


div#navegacao{
  display: flex;
  gap: 10px;
  list-style: none;
}

a{
  text-decoration: none;
}

li{
  display: flex;
  align-items: center;
  height: 100%;
}

.pesquisa{
  align-items: center;
  justify-content: right;
  margin: 0px 15px 0px !important;

}


.pesquisa input{
  height: 36px;
  width: 14.5vw;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid var(--cor03);
  color: #ffedab;
  background-color: var(--cor04);
}

.pesquisa input:focus{
  border: none;
}

input[type="search"] ~ i{
  right: auto !important;
  margin-right: 5px;
}

input[type="search"]:focus ~ i{
  display: none;
}

.botao {
  font-size: 18px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  height: 70px;
}
  
.botao::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--cor05);
  transition: 0.5s ease;
}

.botao:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.botao:hover::before {
  width: 100%;
  height: 3px !important;
}

.botao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--cor05);
  transition: 0.4s ease;
  z-index: -1;
}

.botao:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.botao-cadastro{
  height: 3.5em !important;
  width: 3.5em !important;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid var(--cor02);
  outline: none;
  color: var(--cor02);
  cursor: pointer;
  font-size: 17px !important;
  margin-right: 15px;
}  

.slide{
  position: relative;
  height: 400px;
}

.caixa1{
  align-items: baseline !important;
}

.caixa1 > .card{
  width: 600px;
}

.imagem > .card{
  width: 450px;
}
}

/* botao uiverse */

.botao-cadastro{
    width: 100%;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid var(--cor02);
    outline: none;
    color: var(--cor02);
    cursor: pointer;
    font-size: 26px;
  }
  
  
  .botao-cadastro{
    background: var(--cor02);
    color: #ffffff;
    transition: 600ms all ease-in-out;
  }
  
  
  .botao-cadastro:hover{
    border: var(--cor05);
    background-color: var(--cor05);
    animation: squeeze3124 0.9s both;
  }
  
  
  .botao-cadastro:hover i{
    color: black;
  }
  
  
  @keyframes squeeze3124 {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
  }