@import url("normalize.css");

html,body{
    overflow: hidden;
    min-height: 100vh;
}


.logo{
    background-color: var(--cor06);
    color: var(--cor01);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url("../img/fundo_c.png")  no-repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}



main{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 25px;
}

#login, #cadastro{
    padding: 20px;
    position: absolute;
    z-index: 2;
    color: var(--cor06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 140px;
    left: 0;
    right: 0;
    transition: .5s all ease-in-out;
}


form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 450px;
}

#cadastro form{
    height: 520px;
}

.campo{
    position: relative;
    width: 100%;
    height: 20%;
}

#cadastro .campo{
    height: 15%;
}

input{
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--cor06);
    color: var(--cor06);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px 0;
}

.active #login{
    right: 1000px;
    left: -1000px;
}

#cadastro{
    left: 1000px;
    right: -1000px;
    transition: .5s all ease-in-out;
}

.active #cadastro{
    left: 0;
    right: 0;
}
label{
    position: absolute;
    top: 64%;
    transition: .2s all ease-in-out;
    font-size: 18px;
}



input:focus~label{
    top: 33px !important;
    font-size: 15px;
}

button[type="submit"]{
    border: 1px solid var(--cor06);
    background: transparent;
    width: 100%;
    height: 40px;
    margin: 20px auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: .5s .3s all ease-in-out;
    z-index: 2;
}

button .rotate-bg{
    background-color: var(--cor06);
    width: 850px;
    height: 600px;
    transform-origin: top left;
    transform: rotate(10deg) skewY(40deg);
    position: absolute;
    bottom: -1000px;
    left: -1000px;
    overflow: hidden;
    transition: .7s all ease-in-out;
}

button:hover{
    border-color: var(--cor01);
}

button:hover .rotate-bg{  
    bottom: -4px;
    left: 0px;
}

button span{
    color: var(--cor06);
    position: relative;
    z-index: 3;
    transition: .3s .4s all ease-in-out;
}

button:hover span{
    color: var(--cor01);
}

span{
    color: var(--cor05);
    cursor: pointer;
}


.icon{
    font-size: 18px !important;
    color: var(--cor06);
}

@media (1280px >= width >= 780px) {
    .flipper-container{
        width: 100%;
        height: 700px;
        perspective: 1000px;
    } 

    .flipper{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform .8s;
        transform-style: preserve-3d;
    }


    .active .flipper{
        transform: rotateY(180deg);
    }

    #login, .active #login{
    left: 50%;
    transform: translateX(-50%);
    }

    #login, #cadastro{
        background-color: #fcf2c9;
        width: 40%;
        max-width: 700px;
        color: var(--cor01);
        backface-visibility: hidden;
        transition: none;
    }
    
    #cadastro, .active #cadastro{
        right: auto;
        left: 50%;
        transform:  translateX(-50%) rotateY(180deg);
    }
    


    h2{
        background-color: var(--cor01);
        color: #fcf2c9;
        position: absolute;
        left: 0;
        right: 0;
        top: -20px;
        padding: 10px;
    }

    input{
        border-color: var(--cor01);
    }

    button[type="submit"]{
        border-color: var(--cor01);
    }

    button:hover .rotate-bg{
        background-color: var(--cor01);
    }

    button span{
        color: var(--cor01);
    }

    button:hover span{
        color: var(--cor06);
    }

    .icon{
        color: var(--cor01);
    }

    span{
        color: var(--cor03);
    }
}