@import url("normalize.css");

header {
    position: fixed;
    z-index: 10;
}

main {
    overflow: hidden;
}

nav {
    width: 100vw;
    height: 100px;
    background-color: var(--cor01);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 80px;
}

nav>img {
    width: 50px;
    height: 53px;
    border-radius: 0;
}

img {
    width: 100%;
    height: 100%;
}

/* menu hamburguer */

#hamburguer {
    cursor: pointer;
    position: relative;
    display: block;
    height: 25px;
    width: 32px;
}

#hamburguer span {
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--cor04);
    transition: .25s ease-in-out all;
}

#hamburguer span:nth-child(1) {
    top: 0px;
}

#hamburguer span:nth-child(2) {
    top: 8px;
}

#hamburguer span:nth-child(3) {
    top: 16px;
}

.hamburguerActive span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px !important;
}

.hamburguerActive span:nth-child(2) {
    background-color: transparent !important;
}

.hamburguerActive span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px !important;
}

#links {
    position: absolute;
    left: 5000px;
    right: -5000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    background-color: var(--cor01);
    text-align: center;
    transition: .5s all ease-in-out;
}

.linksActive {
    left: 0 !important;
    right: 0 !important;
}

#links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    border: 1px solid var(--cor02);
    box-shadow: 2px 2px 3px rgba(2, 0, 151, 0.36);
    text-decoration: none;
    margin: 10px 0;
    transition: .3s all ease-in-out;
    color: var(--cor06);

}

#links a:hover {
    color: #d3cbab;
    font-size: 18px;
    scale: 1.05;
}

#links a:nth-child(4) {
    color: #000020;
    font-size: 30px;
    background-color: #ff9800;
    box-shadow: 2px 2px 3px #7b5400a9;
}

#links a:nth-child(4):hover {
    color: #171a4a;
    font-size: 40px;
    padding: 2px 0;
}

.campo{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.pesquisa {
    display: flex;
    width: 70%;
    position: relative;
}

.pesquisa input {
    width: 100%;
    height: 30px;
    background-color: #ff9800;
    outline: 0;
    border: none;
    transition: .5s all ease-in-out;
}

.pesquisa input:focus {
    box-shadow: 2px 3px 2px 1px #ff98008c;
    scale: 1.01;
}

.pesquisa i {
    position: absolute;
    left: 95%;
    top: 50%;
    translate: 0 -50%;
    color: var(--cor01);
    cursor: pointer;
}

.modo .switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 80px;
}

.modo .switch input {
    display: none;
}

.modo .slider {
    background-color: #ccc;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.modo .slider:before {
    background-color:
        #fff;
    bottom: 4px;
    content: "";
    height: 23px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

.modo input:checked+.slider {
    background-color: var(--cor02);
}

.modo input:checked+.slider:before {
    transform: translateX(46px);
}

.modo .slider.round {
    border-radius: 34px;
    background-color: var(--cor04);
}

.modo .slider.round:before {
    border-radius: 50%;
}

.loja {
    width: 80%;
    background-color: var(--cor02);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
}

.header-loja {
    display: flex;
    justify-content: space-between;
}

.logo-loja {
    width: 50px;
    height: 50px;

}

.nome-loja {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.nome-loja * {
    margin: 0 10px;
}

.container-loja {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    gap: 10px;
}

.card {
    width: 45%;
    height: 200px;
    background-color: var(--cor06);
}

/* Footer */
footer{
    min-height: 100px;
    background-color: var(--cor02);
    padding: 10px;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
}

footer li:first-child{
    font-size: 18px;
    margin-bottom: 10px;
}

footer li:not(:first-child){
    margin: 5px 0;
}

footer a{
    color: #171a4a;
    text-decoration: none;
}

/* Medias */
@media ((min-width:780px) and (max-width:1280px)) {
    nav {
        flex-direction: row;
    }

    nav a {
        color: var(--cor06);
        font-size: 18px;
        text-decoration: none;
        transition: .3s all ease-in-out;
    }

    nav a:hover {
        color: #d3cbab;
        font-size: 20px;
    }

    nav .user {
        font-size: 30px;
        background-color: var(--cor04);
        padding: 5px 10px;
    }

    nav .user:hover {
        font-size: 33px;
    }

    nav .nome {
        display: none;
    }
}

@media (min-width:1280px) {
    nav {
        flex-direction: row;
        box-shadow: 3px 1px 2px black;
    }

    nav a {
        color: var(--cor06);
        font-size: 18px;
        text-decoration: none;
        transition: .3s all ease-in-out;
    }

    nav a:hover {
        color: #d3cbab;
        font-size: 20px;
    }

    nav .user {
        font-size: 30px;
        background-color: var(--cor04);
        padding: 5px 10px;
    }

    nav .user:hover {
        font-size: 33px;
    }

    nav .nome {
        display: none;
    }

    main{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


/* Scrollbar */


::-webkit-scrollbar {
    width: 15px;
    cursor: pointer;
}


::-webkit-scrollbar-track {
    background-color: var(--cor01);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor05);
}