@charset "UTF-8";
  
:root{
  font-family: Arial, Helvetica, sans-serif;
  --cor01: #384001;
  --cor02: #618C03;
  --cor03: #97BF04;
  --cor04: #d9ca828f;
  --cor05: #f2bb05;
}


html,body{
  margin: 0;
  padding: 0;
  background-color: var(--cor04);
  box-sizing: border-box;
  overflow-x: hidden;
}


.flex{
  display: flex;
  justify-content: space-between;
}

header{
    background-color: var(--cor01);
}

nav > .flex{
  width: 100%;
  align-items: center;
}

div#navegacao{
    list-style: none;
}

i.bi-list{
  font-size: 45px;
}

.hamburguer{
  border: none;
  background: none;
  border-top: 3px solid #ffedd3;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.hamburguer::before, .hamburguer::after{
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #ffedd3;
  margin-top: 5px;
}

div#hamburguer{
  display: none;
}

.active{
  display: block !important;
}

.btn{
    background-color: transparent;
    border: none;
    color: #ffedd3;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-size: 17px;
}
  
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 5px;
    background-color: var(--cor05);
    transition: 0.5s ease-in-out;
}

.btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

.btn:hover::before {
    height: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    background-color: var(--cor05);
    transition: 0.8s ease-in-out;
    z-index: -1;
}

.btn:hover::after {
    width: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.pesquisa{
  align-items: center;
  margin: 5px 0 15px;

}

input[type="search"]{
  width: 100%;
  position: relative;
  padding: 5px;
  background-color: #ffedd3;
  border: none;
}

input[type="search"] ~ i{
  position: absolute;
  right: 0;
}
  

/* medias queries */

@media ((min-width: 780px) and (max-width: 1200px)) {
.hamburguer{
  display: none;
}
#hamburguer{
  display: flex !important;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .flex{
  width: auto !important;

}

div.pesquisa > i{
  position: absolute;
  padding: 2px 0 2px 5px;
}


i{
  font-size: 30px;
  color: #ffedd3;
}


div#navegacao{
  display: flex;
  gap: 10px;
  list-style: none;
}

a{
  text-decoration: none;
}

li{
  display: flex;
  align-items: center;
  height: 100%;
}

.pesquisa{
  align-items: center;
  justify-content: right;
  margin: 0px 15px 0px !important;

}


.pesquisa input{
  height: 28px;
  width: 12.5vw;
  border-radius: 10px;
  border: 1px solid var(--cor03);
  color: #ffedab;
  background-color: var(--cor04);
}

.pesquisa input:focus{
  border: none;
}

input[type="search"] ~ i{
  right: auto !important;
  margin-right: 5px;
}

input[type="search"]:focus ~ i{
  display: none;
}

.btn {
  font-size: 15px !important;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
  
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--cor05);
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--cor05);
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.btn-cadastro{
  height: 2.8em !important;
  width: 2.8em !important;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid var(--cor02);
  outline: none;
  color: var(--cor02);
  cursor: pointer;
  font-size: 17px !important;
  margin-right: 15px;
}  
}

/* botao uiverse */

.btn-cadastro{
    width: 100%;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid var(--cor02);
    outline: none;
    color: var(--cor02);
    cursor: pointer;
    font-size: 26px;
  }
  
  
  .btn-cadastro{
    background: var(--cor02);
    color: #ffffff;
    transition: 600ms all ease-in-out;
  }
  
  
  .btn-cadastro:hover{
    border: var(--cor05);
    background-color: var(--cor05);
    animation: squeeze3124 0.9s both;
  }
  
  
  .btn-cadastro:hover i{
    color: black;
  }
  
  
  @keyframes squeeze3124 {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
  }